.App {
  text-align: center;
}

.App h1{
  height: 100px;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dark-mode {
  color: rgb(184, 184, 184);
  background-color: #1f232b;
}

.nav-bar button{
  background-color: #696969;
  color: rgb(224, 222, 222);
  border: 2px solid rgb(119, 151, 247);
  border-radius: 8px;
  height: 40px;
  margin: 20px;
  font-weight: bolder;
  font-size: 1rem;
}

.button:hover {
  background-color: rgb(184, 184, 184);
  color: #696969;
}

.player-card-container {
  border: 2px solid rgb(119, 151, 247);
  border-radius: 10px;
  width: 20%;
  text-align: center;
  margin: 10px 40% 10px 40%;
  height: 140px;
}
