.App {
  text-align: center;
}

.App h1{
  font-style: oblique;
  font-weight: bold;
  font-size: 2.5rem;
  text-shadow: 2px 2px 4px rgb(119, 151, 247);
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dark-mode {
  color: rgb(184, 184, 184);
  background-color: #1f232b;
}

.nav-bar button{
  background-color: #696969;
  color: rgb(224, 222, 222);
  border: 2px solid rgb(119, 151, 247);
  border-radius: 8px;
  height: 40px;
  margin: 30px 0px 50px 0px;
  font-weight: bold;
  font-size: 1rem;
}

.button:hover {
  background-color: rgb(184, 184, 184);
  color: #696969;
}

.player-card-container {
  border: 2px solid rgb(119, 151, 247);
  border-radius: 10px;
  width: 20%;
  text-align: center;
  margin: 10px 40% 10px 40%;
  height: 140px;
}

.player-card-container p {
  font-style: italic;
}
